.container {
	width: 100vw;
	height: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#loadingLogo {
	width: 200px;
}

#loadingLogo path:nth-child(1) {
	stroke-dasharray: 755;
	stroke-dashoffset: 755;
    animation: line-animation 2s ease forwards;
}

#loadingLogo path:nth-child(2) {
	stroke-dasharray: 507;
	stroke-dashoffset: 507;
	animation: line-animation 2s ease forwards 0.3s;
}
#loadingLogo path:nth-child(3) {
	stroke-dasharray: 247;
	stroke-dashoffset: 247;
	animation: line-animation 2s ease forwards 0.6s;
}
#loadingLogo path:nth-child(4) {
	stroke-dasharray: 399;
	stroke-dashoffset: 399;
	animation: line-animation 2s ease forwards 0.9s;
}

.info {
    color: white;
    font-family: monospace;
    text-transform: uppercase;
	opacity: 0;
	animation: appear 1.5s ease forwards 2s;
	cursor: pointer;
	font-size: 13px;
	transition: transform .3s ease-in-out;
	will-change: transform;
}

.info:hover{
	transform: scale(1.2);
}

.info:active{
	transform: scale(0.9);
}

@keyframes line-animation {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes appear {
	to {
		opacity: 1;
	}
}